body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(15, 15, 32);

}
.ban{
    position: relative;
    text-align: center;
    top: 200px;
    height: 100px;
}
.ban img{
    position: relative;
    height: 100%;
}
.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    overflow: hidden;
    
}



.element1{
    position: relative;
    background-color: #000000;
    width: 25%;
    height: 70px;
    font-size: 32px;
    top: -22px;

}
.element1 a{
    position: relative;
    top: 15px;
    text-decoration: none;
    color: white;
    font-family: 'Iceberg', cursive;;
    

}
.bergb{
    display: none;
}
.bergb input{
    display: none;
}
.bergb .hgfd{
    display: none;
}

.element2{
    background-color: rgb(0, 0, 0);
    width: 59%;
    height: 70px;
    position: relative;
    top: -22px;

}
.element2 a{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: -50px;
    font-family: 'Iceberg', cursive;;


}
ul li a{
    color: white;
    text-decoration: none;
    padding-left: 3rem;

}
.element3{
    background-color: rgb(0, 0, 0);
    width: 16%;
    height: 70px;
    overflow: hidden;
    position: relative;
    top: -22px;

}
.element3 a{
    position: relative;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Iceberg', cursive;;


}

.formm1{
    width: 75%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 320px;
    left: 10vw;
    border-radius: 50px;
    top: 80px;
}

.azerty{
    width: 70%;
    height: 100%;
}

.azerty2{
    width: 30%;

    height: 100%;
    /* background-image: url(./image/Coinhouse_A_V_Hero_1920x1080_2306-2-removebg-preview.png); */
    background-size: 330px;
    background-repeat: no-repeat;  
}
.azerty2 img{
    width: 100%;
}
.txt{
    width: 70%;
    height: 30%;
    justify-content: left;
    display: flex;
    font-family: 'Iceberg', cursive;;
}

.txt1{
    width: 55%;
    height: 100px;
    position: relative;
    justify-content: left;
    display: flex;
    color: white;
    font-size: 30px;
    font-family: 'Iceberg', cursive;;
    left: 60px;


}
button{
    width: 12vw;
    height: 40px;
    border-radius: 100px;
    background-color: rgb(5, 207, 55);
    border: none;

}
.txt2{
    width: 55%;
    height: 100px;
    position: relative;
    justify-content: left;
    display: flex;
    color: white;
    font-size: 20px;
    left: 60px;
}

.formm2{
    background-color: rgb(34, 36, 59);
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    height: 370px;
    left: 10vw;
    border-radius: 50px;
    top:   130px;
    overflow: hidden;
}
.formm3{
    background-color: rgb(34, 36, 59);
    width: 80%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    height: 370px;
    left: 10vw;
    border-radius: 50px;
    top: 250px;
    overflow: hidden;
}
.azert{
    width: 70%;
    height: 100%;
    padding-top: 20px;
}
.azerty21{
    width: 30%;
    height: 80%;
    /* background-image: url(./image/Coinhouse_AV_Acheter_2307-removebg-preview.png); */
    background-size: 400px;
    background-repeat: no-repeat;

}
.azerty21 img{
    position: relative;
    width: 100%;}
.txt22{


    width: 70%;
    height: 190px;
    position: relative;
    justify-content: left;
    display: flex;
    color: white;
    font-size: 20px;
    left: 63px;
    top: 22px;
    overflow: hidden;
}

.azerty4{
    width: 30%;
    height: 100%;
    /* background-image: url(./image/Coinhouse_AV_Echangez_2307-removebg-preview.png); */
    background-size: 300px;
}
.azerty4 img{
    width: 100%;
}

.formm4{
    background-color: rgb(0, 0, 0);
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: start;
    text-align: center;
    height: 170px;
    gap: 32px;
    color: rgb(255, 255, 255);
    top: 320px;
    padding-top: 22px;
    overflow: hidden;
}
.ww{
    text-align: start;
}

.ww a{
    text-decoration: none;
    color: white;
}
.vvvv{
    display: none;
}


@media screen and (min-width:600px) and (max-width:1000px) {
    .formm1{
        width: 75%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 320px;
        left: 10vw;
        border-radius: 50px;
        top: 80px;
    }
    
    .azerty{
        width: 70%;
        height: 100%;
    }
    .ban{
       display: none;
    }
    
    .azerty2{
        width: 30%;
    
        height: 100%;
        /* background-image: url(./image/Coinhouse_A_V_Hero_1920x1080_2306-2-removebg-preview.png); */
        background-size: 330px;
        background-repeat: no-repeat;  
    }
    .azerty2 img{
        width: 110%;
    }
    .txt{
        width: 70%;
        height: 30%;
        justify-content: left;
        display: flex;
        font-family: 'Iceberg', cursive;;
    }
    
    .txt1{
        width: 55%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 25px;
        font-family: 'Iceberg', cursive;;
        left: 60px;
    
    
    }
    button{
        width: 12vw;
        height: 40px;
        border-radius: 100px;
        background-color: rgb(5, 207, 55);
        border: none;
        
    }
    .txt2{
        width: 55%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 10px;
        left: 100px;
    }
    
    .formm2{
        background-color: rgb(34, 36, 59);
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: start;
        height: 300px;
        left: 10vw;
        border-radius: 50px;
        top:   130px;
        overflow: hidden;
    }
    .formm3{
        background-color: rgb(34, 36, 59);
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: start;
        height: 270px;
        left: 10vw;
        border-radius: 50px;
        top: 250px;
        overflow: hidden;
    }
    .azert{
        width: 70%;
        height: 100%;
    }
    .azerty21{
        width: 30%;
        height: 80%;
        /* background-image: url(./image/Coinhouse_AV_Acheter_2307-removebg-preview.png); */
        background-size: 400px;
    
    }
    .azerty21 img{
        position: relative;
        width: 100%;
        top: 50px;
    }
    .txt22{
    
    
        width: 70%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 10px; 
        left: 63px;
        top: 22px;
        overflow: hidden;
    }
    
    .azerty4{
        width: 30%;
        height: 100%;
        /* background-image: url(./image/Coinhouse_AV_Echangez_2307-removebg-preview.png); */
        background-size: 300px;
    }
    .azerty4 img{
        width: 100%;
        position: relative;
        top: 50px;
    }
    
    .formm4{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 170px;
        gap: 32px;
        color: rgb(255, 255, 255);
        top: 320px;
        padding-top: 22px;
        overflow: hidden;
    }
    .ww{
        text-align: start;
        font-size: 10px;
    }
    .vvvv{
        display: none;
    }
    .ww a{
        text-decoration: none;
        color: white;
    }
    
}


@media screen and (min-width:400px) and (max-width:700px) {

    .navbar{
        width: 99.7%;
        height: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        overflow: hidden;
    }
    
    .element1{
        position: relative;
        background-color: #000000;
        width: 25%;
        height: 70px;
        font-size: 18px;
        top: -22px;
    
    }
    .ban{
        display: none;
     }
    .element1 a{
        position: relative;
        top: 25px;
        text-decoration: none;
        color: white;
        font-family: 'Iceberg', cursive;;
        
    
    }
    
    .element2{
        background-color: rgb(0, 0, 0);
        width: 59%;
        height: 70px;
        position: relative;
        top: -22px;
        
    
    }
    .aze{
        width: 50px;
        height: 30px;
        background-color: rgb(100, 114, 114);
        position: relative;
        left: 230px;
        top: 22px;
        display: block;
    }
    .aze input{
        display: none;
    }
   
    .aze .hgfd{
        display: block;
    }
    .qsdfghj{.aze{
        display: none;
    }
        display: none;
    }
    .hgfd{
        background-color: rgba(5, 16, 41, 0.479);
        visibility: hidden;
        opacity: 1;
        position: fixed;
    }
    .hgfd  li a{
        text-decoration: none;
    }
    #berg:checked  ~ .hgfd{
        visibility: visible; 
        display: block;
        
    }
    ul li a{
        color: white;
        text-decoration: none;
    }
    
    .element3{
         background-color: rgb(0, 0, 0);
        width: 16%;
        height: 70px;
        overflow: hidden;
        position: relative;
        top: -22px; 
    
    }
    .element3 a{
        position: relative;
        top: 28px;
        font-size: 12px;
        text-decoration: none;
        color: white;
        font-family: 'Iceberg', cursive;;
        
    
    
    }
    
    .formm1{
        width: 75%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 320px;
        left: 10vw;
        border-radius: 50px;
        top: 80px;
    }
    
    .azerty{
        width: 70%;
        height: 100%;
    }
    
    .azerty2{
        width: 30%;
        height: 50%;
        /* background-image: url(./image/Coinhouse_A_V_Hero_1920x1080_2306-2-removebg-preview.png); */
        background-size: 330px;
        background-repeat: no-repeat;  
    }
    .azerty2 img{
        width: 110%;
    }
    .txt{
        width: 70%;
        height: 30%;
        justify-content: left;
        display: flex;
        font-family: 'Iceberg', cursive;;
   
     }
    .txt1{
        width: 55%;
        height: 50px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 17px;
        font-family: 'Iceberg', cursive;;
        left: 60px;
    
    
    }
    button{
        width: 24vw;
        height: 40px;
        border-radius: 100px;
        background-color: rgb(5, 207, 55);
        border: none;
        
    }
    .txt2{
        width: 55%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 10px;
        left: 60px;
    }
    
    .formm2{
        background-color: rgb(34, 36, 59);
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: start;
        height: 220px;
        left: 10vw;
        border-radius: 50px;
        top:   0px;
        overflow: hidden;
    }
    .formm3{
        background-color: rgb(34, 36, 59);
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: start;
        height: 220px;
        left: 10vw;
        border-radius: 50px;
        top: 100px;
        overflow: hidden;
    }
    .azert{
        width: 70%;
        height: 100%;
    }
    .azerty21{
        width: 30%;
        height: 80%;
        /* background-image: url(./image/Coinhouse_AV_Acheter_2307-removebg-preview.png); */
        background-size: 400px;
    
    }
    .azerty21 img{
        position: relative;
        width: 100%;
        top: 50px;
    }
    .txt22{
    
    
        width: 70%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: white;
        font-size: 10px; 
        left: 63px;
        top: 22px;
        overflow: hidden;
    }
    .vvvv{
        display: none;
    }
    .azerty4{
        width: 30%;
        height: 100%;
        /* background-image: url(./image/Coinhouse_AV_Echangez_2307-removebg-preview.png); */
        background-size: 300px;
    }
    .azerty4 img{
        width: 100%;
        position: relative;
        top: 50px;
    }
    
    .formm4{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 140px;
        gap: 32px;
        color: rgb(255, 255, 255);
        top: 200px;
        padding-top: 22px;
        overflow: hidden;
    }
    .ww{
        text-align: start;
        font-size: 10px;
    }
    
    .ww a{
        text-decoration: none;
        color: white;
    }
    
}






@media screen and (min-width:200px) and (max-width:479px) {

    .navbar{
        width: 99.7%;
        height: 60px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
        overflow: hidden;
    }
    .bergb{
        width: 50px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.473);
        position: relative;
        top: 22px;
        left: 80%;
        display: block;
    } 
     .bergb input{
        display: none;
    }
    .bergb .hgfd{
        display: none;
    }
    .hgfd{
        visibility: hidden;
        opacity: 1;
        position: fixed;
        right: 10px;
        display: block;
    }
    
    .hgfd li a{
        text-decoration: none;
        font-size: 10px;
    }
    .hgfd li{
        list-style-type: none;
    
    }
    #berg:checked ~ .hgfd{
        visibility: visible;
        display: block;
    } 
    #ddd{
        display: none;
    }
    .ban{
        display: none;
     }
    .element1{       
         overflow: hidden;

        position: relative;
        background-color: #000000;
        width: 25%;
        height: 70px;
        font-size: 12px;
        top: -22px;
    
    }
  
    .element1 a{
        position: relative;
        top: 25px;
        text-decoration: none;
        color: white;
        font-family: 'Iceberg', cursive;;
    
    }
    .qsdfghj{
        display: none;
    }
    .vvvv{
        display: block;
        height: 160px;
        width: 50%;
        position: relative;
        left: 25%;
    }
    .vvvv img{
        width: 100%;
        height: 100%;
    }
    .element2{
        background-color: rgb(0, 0, 0);
        width: 59%;
        height: 70px;
        position: relative;
        top: -22px;
    
    }
    .element2 a{
        font-size: 11px;
        position: relative;
        top: 10px;
        left: -50px;
        font-family: 'Iceberg', cursive;;
    
    }
    ul li a{
        color: white;
        text-decoration: none;
    
    }
    .element3{
        background-color: rgb(0, 0, 0);
        width: 16%;
        height: 70px;
        overflow: hidden;
        position: relative;
        top: -22px;
    
    }
    .element3 a{
        display: none;
    }
    
    .formm1{
        width: 75%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 320px;
        left: 10vw;
        border-radius: 50px;
        top: 80px;
    }
    
    .azerty{
        display: none; 

    }
    
    .azerty2{
        width: 70%;
        height: 70%;
        /* background-image: url(./image/Coinhouse_A_V_Hero_1920x1080_2306-2-removebg-preview.png); */
        background-size: 330px;
        background-repeat: no-repeat;
    }
    .azerty2 img{
        width: 110%;
    }
    
    .txt{
       display: none;
     }
    .txt1{
        display: none;
    
    }
    button{
      display: none;
        
    }
   
    
    .formm2{
         background-color: rgb(34, 36, 59); 
        width: 80%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: start;
        height: 180px;
        left: 10vw;
        border-radius: 50px;
        top:   0px;
    }
    .formm3{
        /* background-color: rgb(34, 36, 59); */
      display: none;
    }
    .azert{
        width: 70%;
        height: 100%;
    }
    .azerty21{
        width: 30%;
        height: 80%;
        /* background-image: url(./image/Coinhouse_AV_Acheter_2307-removebg-preview.png); */
        background-size: 400px;
    
    }
    .azerty21 img{
        display: none;
    }
    .txt22{
    
    
        width: 70%;
        height: 100px;
        position: relative;
        justify-content: left;
        display: flex;
        color: rgb(255, 255, 255);
        font-size: 10px; 
        left: 63px;
        top: 22px;
        overflow: hidden;
    }
    
    .azerty4{
        width: 30%;
        height: 100%;
        /* background-image: url(./image/Coinhouse_AV_Echangez_2307-removebg-preview.png); */
        background-size: 300px;
    }
    .azerty4 img{
        width: 100%;
        position: relative;
        top: 50px;
    }
    
    .formm4{
        background-color: rgb(0, 0, 0);
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;
        height: 100px;
        gap: 32px;
        color: rgb(255, 255, 255);
        top: 10px;
        padding-top: 22px;
        overflow: hidden;
    }
    .ww{
        text-align: start;
        font-size: 8px;
    }
    
    .ww a{
        text-decoration: none;
        color: white;
    }
    .fut{
        font-size: 10px;
    }
    
}


