body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(21, 21, 56);

}

.navbar{
    width: 100%;
    height: 60px;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}
.bergb{
    display: none;
}
.bergb input{
    display: none;
}
.bergb .hgfd{
    display: none;
}

.element1{
    position: relative;
    background-color: #000000;
    width: 25%;
    height: 70px;
    font-size: 32px;
    top: -22px;
}
.element1 a{
    position: relative;
    top: 15px;
    text-decoration: none;
    color: white;
}

.element2{
    background-color: rgb(0, 0, 0);
    width: 59%;
    height: 70px;
    position: relative;
    top: -22px;

}
.element2 a{
    font-size: 20px;
    position: relative;
    top: 10px;
    left: -50px;

}
ul li a{
    color: white;
    text-decoration: none;
    padding-left: 3rem;

}
.element3{
    width: 16%;
    height: 70px;
    overflow: hidden;
    position: relative;
    top: -22px;

}
.element3 a{
    position: relative;
    top: 25px;
    font-size: 20px;
    text-decoration: none;
    color: white;

}
.cont{
    width: 100%;
    height: 240px;
    position: relative;
    display: flex;
    gap: 142px;
    justify-content: center;
}
.cont1{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    gap: 142px;
    justify-content: center;
    top: 50px;
}

.cont2{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    gap: 142px;
    justify-content: center;
    top: 100px;
}

.cont3{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    gap: 142px;
    justify-content: center;
    top: 150px;
}
.cont4{
    width: 100%;
    height: 200px;
    position: relative;
    display: flex;
    gap: 142px;
    justify-content: center;
    top: 200px;
}
.convert{
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: white;
    border: 3px solid red;

}
.suivi{
    width: 60%;
    height: 100px;
    position: relative;
    top: 15%;
    left: 15%;
    padding-left: 123px;
    color: white;
    transform: translate(-50% -50%);
    font-size: 4vw;
    font-family: 'Iceberg', cursive;;

}
.convert1{
    width: 30%;
    height: 100%;
    position: relative;
    display: flex;
    background-color: white;
    border: 3px solid red;
}
.val{
    width: 40%;
    height: 100%;
    font-size: 26px;
   position: relative;
   overflow: hidden;
}
.val1{
    width: 60%;
    height: 100%;
    
    

}
.val1 img{
    height:150px;
    float: right;
    position: relative;
    top: 20px;
    left: -10px;
}
strong{
    position: relative;
    top: 70px;
    color: rgb(0, 0, 0);
}
#coll1{
    border: 3px solid violet;
}

#coll2{
    border: 3px solid rgb(25, 177, 37);
}

#coll3{
    border: 3px solid rgb(143, 9, 72);
}
#coll4{
    border: 3px solid rgb(233, 153, 5);
}
#coll5{
    border: 3px solid rgb(56, 59, 57);
}
#coll6{
    border: 3px solid rgb(241, 35, 149);
}

@media screen and (min-width:630px) and (max-width:880px) {
    .cont{
        width: 100%;
        height: 240px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
    }
    .supp{
        display: none;
    }
    .element3{
        display: none;
    }
    .bergb{
        width: 50px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.473);
        position: relative;
        top: 22px;
        left: 90%;
        display: block;
    } 
     .bergb input{
        display: none;
    }
    .bergb .hgfd{
        display: none;
    }
    .hgfd{
        visibility: hidden;
        opacity: 1;
        position: fixed;
        right: 10px;
    }
   
    .hgfd li a{
        text-decoration: none;
        font-size: 10px;
    }
    .hgfd li{
        list-style-type: none;

    }
    #berg:checked ~ .hgfd{
        visibility: visible;
        display: block;
    } 
    #ddd{
        display: none;
    }
    .cont1{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 50px;
    }
    
    .cont2{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 100px;
    }
    
    .cont3{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 150px;
    }
    .cont4{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 200px;
    }
    .convert{
        width: 40%;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        background-color: rgb(255, 255, 255);
        border: 3px solid rgb(224, 36, 36);
    
    }
    .suivi{
        width: 60%;
        height: 100px;
        position: relative;
        top: 15%;
        left: 5%;
        padding-left: 123px;
        color: white;
        transform: translate(-50% -50%);
        font-size: 4vw;
        font-family: 'Iceberg', cursive;;
    
    }
    .convert1{
        width: 40%;
        height: 100%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border: 3px solid red;
    }
    .val{
        width: 50%;
        height: 100%;
        font-size: 26px;
       position: relative;
       overflow: hidden;
    }
    .val1{
        width: 50%;
        height: 100%;
   
    }
    .val1 img{
        height:150px;
        float: right;
        position: relative;
        top: 20px;
        left: -10px;
    }
    strong{
        position: relative;
        top: 70px;
        font-size: 22px;
        color: rgb(0, 0, 0);
    }
  
}

 
@media screen and (min-width:430px) and (max-width:631px) {

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(21, 21, 56);
    
    }
    .supp{
        display: none;
    }
    .element3{
        display: none;
    }
    .bergb{
        width: 50px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.473);
        position: relative;
        top: 22px;
        left: 90%;
        display: block;
    } 
     .bergb input{
        display: none;
    }
    .bergb .hgfd{
        display: none;
    }
    .hgfd{
        visibility: hidden;
        opacity: 1;
        position: fixed;
        right: 10px;
    }
   
    .hgfd li a{
        text-decoration: none;
        font-size: 10px;
    }
    .hgfd li{
        list-style-type: none;

    }
    #berg:checked ~ .hgfd{
        visibility: visible;
        display: block;
    } 
    #ddd{
        display: none;
    }
    
    .navbar{
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }
    
    
    .element1{
        position: relative;
        background-color: #000000;
        width: 25%;
        height: 70px;
        font-size: 20px;
        top: -12px;
    }
    .element1 a{
        position: relative;
        top: 15px;
        text-decoration: none;
        color: white;

    }
    
    .element2{
        background-color: rgb(0, 0, 0);
        width: 59%;
        height: 70px;
        position: relative;
        top: -22px;
    
    }
    .element2 a{
        font-size: 12px;
        position: relative;
        top: 10px;
        left: -50px;
    
    }
    ul li a{
        color: white;
        text-decoration: none;
        padding-left: 3rem;
    
    }
    .element3{
        width: 16%;
        height: 70px;
        overflow: hidden;
        position: relative;
        top: -22px;
    
    }
    .element3 a{
        position: relative;
        top: 25px;
        font-size: 15px;
        text-decoration: none;
        color: white;
    
    }
    .cont{
        width: 100%;
        height: 220px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
    }
    .cont1{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 50px;
    }
    
    .cont2{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 100px;
    }
    
    .cont3{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 150px;
    }
    .cont4{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 200px;
    }
    .convert{
        width: 40%;
        height: 70%;
        position: relative;
        display: flex;
        flex-wrap: wrap;

        background-color: rgb(255, 255, 255);
        border: 3px solid rgb(224, 36, 36);
    
    }
    .suivi{
        width: 60%;
        height: 100px;
        position: relative;
        top: 15%;
        left: 5%;
        padding-left: 123px;
        color: white;
        transform: translate(-50% -50%);
        font-size: 4vw;
        font-family: 'Iceberg', cursive;;
    
    }
    .convert1{
        width: 40%;
        height: 70%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border: 3px solid red;
    }
    .val{
        width: 50%;
        height: 100%;
        font-size: 21px;
       position: relative;
       overflow: hidden;
    }
    .val1{
        width: 50%;
        height: 100%;
   
    }
    .val1 img{
        height:110px;
        float: right;
        position: relative;
        top: 20px;
        left: -10px;
    }
    strong{
        position: relative;
        top: 40px;
        font-size: 15px;
        color: rgb(0, 0, 0);
    }
  
}

 
@media screen and (min-width:130px) and (max-width:430px) {

    body{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background-color: rgb(21, 21, 56);
    
    }
    .bergb{
        width: 50px;
        height: 30px;
        background-color: rgba(0, 0, 0, 0.473);
        position: relative;
        top: 22px;
        left: 80%;
        display: block;
    } 
     .bergb input{
        display: none;
    }
    .bergb .hgfd{
        display: none;
    }
    .hgfd{
        visibility: hidden;
        opacity: 1;
        position: fixed;
        right: 10px;
    }
   
    .hgfd li a{
        text-decoration: none;
        font-size: 10px;
    }
    .hgfd li{
        list-style-type: none;

    }
    #berg:checked ~ .hgfd{
        visibility: visible;
        display: block;
    } 
    #ddd{
        display: none;
    }
    .navbar{
        width: 100%;
        height: 60px;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 20px;
    }
    
    
    .element1{
        position: relative;
        background-color: #000000;
        width: 25%;
        height: 70px;
        font-size: 16px;
        top: -12px;
    }
    .element1 a{
        position: relative;
        top: 25px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }
    
    .element2{
        background-color: rgb(0, 0, 0);
        width: 59%;
        height: 70px;
        position: relative;
        top: -22px;
    
    }
    .element2 a{
        font-size: 12px;
        position: relative;
        top: 10px;
        left: -50px;
    
    }
    ul li a{
        color: white;
        text-decoration: none;
        padding-left: 3rem;
    
    }
    .element3{
        width: 19%;
        height: 70px;
        overflow: hidden;
        position: relative;
        top: -22px;
        left: -28px;
    
    }
    .element3 a{
        display: none;
    
    }
    .cont{
        width: 100%;
        height: 220px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
    }
    .cont1{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 50px;
    }
    
    .cont2{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 100px;
    }
    
    .cont3{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 150px;
    }
    .cont4{
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
        gap: 22px;
        justify-content: center;
        top: 200px;
    }
    .convert{
      display: none;
    }
    .suivi{
        width: 65%;
        height: 100px;
        position: relative;
        top: 26px;
        left: -25%;
        color: white;
        transform: translate(-50% -50%);
        font-size: 5vw;
        font-family: 'Iceberg', cursive;;
    
    }
    .convert1{
        width: 70%;
        height: 70%;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        background-color: white;
        border: 3px solid red;
    }
    .val{
        width: 50%;
        height: 100%;
        font-size: 21px;
       position: relative;
       overflow: hidden;
    }
    .val1{
        width: 50%;
        height: 100%;
   
    }
    .val1 img{
        height:110px;
        float: right;
        position: relative;
        top: 20px;
        left: -10px;
    }
    strong{
        position: relative;
        top: 40px;
        font-size: 19px;
        color: rgb(0, 0, 0);
    }
    .supp{
        display: none;
    }
    .element3{
        display: none;
    }
  
}

 